{% extends 'base.html' %}
{% load static %}
{% block script %}
<link rel="stylesheet" href="{% static 'css/login_signup.css' %}">

{% endblock script %}
{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto p-0">
            <div class="card">
                <div class="login-box">
                    <div class="login-snip"> <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label> <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                        <div class="login-space">
                            <div class="login">
                                <!-- {{ form.as_p }} -->
                                <form class="form" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="login" value="1">
                                <div class="group">
                                    <label for="user" class="label">Username</label> 
                                    <input id="user" type="text" name="username" required maxlength="150" autocomplete="username" autofocus autocapitalize="none" class="input" placeholder="Enter your username"> 
                                </div>
                                <div class="group">
                                    <label for="pass" class="label">Password</label> 
                                    <input id="pass" type="password" required autocomplete="current-password" name="password" class="input" data-type="password" placeholder="Enter your password"> 
                                </div>
                                <div class="group">
                                    <input id="check" type="checkbox" class="check" checked> 
                                    <label for="check"><span class="icon"></span> Keep me Signed in</label> 
                                </div>
                                    <div class="group"> <input type="submit" class="button" value="Sign In"> </div>
                                </form>
                                <div class="hr"></div>
                                <div class="foot"> <a  class="label" href="#">Forgot Password?</a> </div>
                            </div>
                            <div class="sign-up-form">
                                <form class="form" method="post">
                                {% csrf_token %}
                                <div class="group"> <label for="user" class="label">Username</label> <input id="user" type="text" name="username" required maxlength="150" autocomplete="username" autofocus autocapitalize="none" class="input" placeholder="Create your Username"> </div>
                                <div class="group"> <label for="pass" class="label">Password</label> <input id="pass" type="password" required autocomplete="current-password" name="password1" class="input" data-type="password" placeholder="Create your password"> </div>
                                <div class="group"> <label for="pass" class="label">Repeat Password</label> <input id="pass" type="password" required autocomplete="current-password" name="password2" class="input" data-type="password" placeholder="Repeat your password"> </div>
                                <div class="group"> <label for="pass" class="label">Email Address</label> <input id="pass" type="email" required autocomplete="current-password" name="email" class="input" placeholder="Enter your email address"> </div>
                                <div class="group"> <input type="submit" class="button" value="Sign Up"> </div>
                                <div class="hr"></div>
                                <div class="foot"> <label class="label" for="tab-1">Already Member?</label> </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let logout = document.getElementById("logout")
    let form = document.getElementById("form")
    let home = document.getElementById("home")
    logout.classList.add("d-none")
    form.classList.add("d-none")
    home.classList.add("d-none")

    // lookup('movie/api/movie',null,'GET',(response,status)=>{
    //     console.log(`callback Response ${response,status}`)
    // })
</script>
{% endblock %}