*{
    margin: 0;
    padding: 0;
}

.navbar-brand{
    font-family: 'Dela Gothic One', cursive;
}

#contact-us{
    color: black;
}

#navbar-brand{
    font-size: 2.5rem;
}

.header{
    height: 100vh;
    background-image:linear-gradient(45deg, rgba(125,173,163,.1) 0%, rgba(229,227,223,.3) 46%, rgba(255,186,178,1) 100%),url('https://i.pinimg.com/originals/04/f4/d0/04f4d0c9cc79fbb7c98dc5fcb91d4370.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x:hidden;
}


.navbar{
    padding-top: 20px !important;
}

.nav-item{
    margin-left: 40px !important;
    margin-bottom: 10px !important;
}

.nav-link{
    color: #fff !important;
    font-size: 21px !important;
    padding: 0 0 5px 0 !important;
    display: unset;
    font-weight:500;
    letter-spacing: .5px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    transition: .3s linear;
}

.navbar-brand img{
    width: 300px;
}

.active-home{
    border-bottom: 2px solid #fff;
   
}

.nav-link:hover{
    border-bottom: 2px solid #fff;
}

.banner{
    color: #fff;
    margin-top: 8%;
}

.banner h1{
    margin: 80px 0 50px;
    font-weight: 600;
    font-size: 60px;
}

#hero{
    color: #D3AB35;
  -webkit-text-stroke-color: rgba(152,66,45);
  -webkit-text-stroke-width: 1.5px; 
    text-shadow: 2px 4px 3px rgba(0,0,0,0.6);
}

.banner a{
    padding: 12px;
    width: 150px;
    display: block;
    text-decoration: none !important;
    color: rgba(152,66,45);
    background: #D3AB01;
    border: 1.5px solid rgba(152,66,45);
    border-radius: 5px;
    text-align: center;
    margin: 30px auto;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 2px 4px 3px rgba(0,0,0,0.2);
    transition: .38s ease;
}

.banner a:hover{
    color: #fff;
    background: #FF5733;
}

.banner img{
    position: absolute;
    right: -27%;
    top: -20%;
}

.spider{
    width: 20px;
    position: absolute;
}