.fa-user-circle{
    color: black;
    font-size: 35px;
    margin-left: 15px;
}

h1,h3{
    color: white;
}

body{
    background:lightblue  url('../images/image.jpg') no-repeat fixed center;
    background-size: cover;
    backdrop-filter: blur(10px);
}
.image{
    display: flex;
    justify-content: center;
    overflow:hidden;
}
.card div img{
    height: 20rem;
    width: 350px;
}

.dropdown-menu{
    width: 50px;
    position: relative;
    right: 0px;
}

.dropdown-toggle{
    background-color: #e3f2fd;
}